.support-title{
    text-align: center;
    margin-bottom: 56px;
    font-weight: 700;
    font-size: 42px;
}

.support-col{
    margin-bottom: 5px;
}

.support-block{
    border-radius: 5px;
    background: var(--White, #ffffff);
    box-shadow: 20px 20px 40px rgba(5, 12, 51, .05);
    min-height: 292px;
    height: 100%;
    position: relative;
    margin: 0 -8px;
    z-index: 5;
}

.support-block-wrapper{
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 42px;
    z-index: 5;
}

.support-block-num
{
    font-weight: 700;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.support-block-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.22;
}

.support-text{
    font-size: 16px;
    opacity: 0.7;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    z-index: 8;
}

.support-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.expertise{
    z-index: 4;
    position: relative;
    padding-top: 240px;
    background: linear-gradient(254.72deg, rgba(255, 255, 255, .276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
}

.support-element {
    margin-bottom: -212px;
}

.expertise:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/images/drupal-logo-2.svg) no-repeat right bottom;
    background-size: contain;
    z-index: 10;
}

.expertise-title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 60px;
    margin-top: 120px;
}

.expertise-text{
    height: 88px;
    font-weight: 500;
    line-height: 22px; 
    font-size: 16px;
    opacity: 0.7;
}

.expertise-text-block{
    padding: 6px 20px;
    border-left: 3px solid #F14D34;
    margin-bottom: 40px;
}

.expertise-info-block{
    padding-left: 30px;
}
.expertise-img{
    margin-bottom: -150px;
}

.tarifs{
    background: url(../images/D-background-opacity-tarif.svg) no-repeat right top,#fff;
    background-size: 58%;
    z-index: 3;
}

.tarif-title{
    padding-top: 160px;
    color: #000;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 82px;
}

.card-content{
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    padding: 78px 30px 48px 30px;
}

.card{
    border:none;
    margin-bottom: 20px;
}

.card-title{
    font-size: 22px;
    color: var(--icons-1, #F14D34);
    font-weight: 700;
}

.card-price{
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    text-transform: uppercase;
}

.sign{
    font-size: 28px;
    font-weight: 500;
    line-height: 28px;
    vertical-align:super; 
}

.card-price-time{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 1px solid  #0000002d;
}

.card-list-content{
    margin-top: 40px;
    margin-bottom: 20px;
}

.card-list-item{
    padding-left: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: #4e5972;
    padding-bottom: 20px;
}

.card-list{
    padding-left: 0;
}

.card-list>li{
    position: relative;
}

.card-list-item::before{
    content: "";
    position: absolute;
    top:3px;
    left: 0;
    display: inline-block;
    width: 13px;
    height: 10px;
    background: url(../images/checkmark.svg) no-repeat center;
    background-size: contain;
}

.card-button{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.72px;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #f14d3441;
}

.unactive{
    background-color: #FFF;
    color: #F14D34;
    
}

.active{
    background-color: #F14D34;
    color: #FFF;
}

.tarif-comment{
    margin-top: 50px;
    text-align: center;
    opacity: 0.5;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.tarif-href{
    margin-top: 26px;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px; 
    letter-spacing: 0.72px;
    text-decoration-line: underline;
    text-transform: uppercase;
    cursor: pointer;
}

.tarif-href:hover{
    color: #F14D34;
    text-decoration-line: none;
}

.comments{
    margin-top: 90px;
    margin-bottom: 160px;
    background: url(../images/right-quote-sign.svg) no-repeat left top;
    background-size: 26%;
}

.comments-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.comment-card{
    position: relative;
    margin: 0 50px;
    margin-top: 120px;
}

.comment-card-wrapper{
    position: relative;
    padding: 67px 15px 67px 68px;
    z-index: 6;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 4px 60px 0px rgba(161, 161, 161, 0.25);
}

.comment-card-content{
    min-width: 0;
    padding: 0 60px;
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
}

.comment-logo{
    margin-top: 13px;
    margin-bottom: 40px;
}

.comment-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.comment-info{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 22px;
}

.comment-navigation{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-navigation-wrapper{
    display: flex;
    margin: auto;
    flex-direction: row;
}

.comment-num-text{
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 46px;
}

.sum-num{
    color: var(--Gray-5, #E0E0E0);
}

.workers{
    margin-bottom: 160px;
}

.workers-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.workers-text{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    opacity: 0.7;
    margin-bottom: 32px;
}

.slider-row{
    display: flex;
    flex-direction: row;
    min-width: 0;
}

.slider-block{
    display: flex;
    min-width: 0;
    width: 23%;
    height: 155px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.slider>.slick-list>.slick-track{
    display: flex;
    width: 6000px;
    transform: translate3d(-1220px, 0px, 0px);
}

.slider{
    min-width: 0;
}

.slider .slick-arrow{
    display: none;
}

.slick-list{
    overflow: hidden;
}

.slider-second>.slick-list>.slick-track
{
    margin-left: 10%;
}

.comment-card::before{
    content: "";
    display: block;
    background: #fff;
    opacity: .5;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
    border-radius: 5px;
    position: absolute;
    top: -40px;
    bottom: 0;
    left: 64px;
    right: 64px;
    z-index: 3;    
}

.comment-card::after{
    content: "";
    display: block;
    background: #fff;
    opacity: .34;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    box-shadow: 0 4px 60px rgba(162, 162, 162, .25);
    border-radius: 5px;
    position: absolute;
    top: -72px;
    bottom: 0;
    left: 128px;
    right: 128px;
    z-index: 2;   
}

.comment-slider{
    min-width: 0;
}

.slick-arrow{
    cursor: pointer;
}

.slick-slide{
    float: left;
    height: 100%;
    min-height: 1px;
}