/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

*{
    font-family: 'Montserrat', sans-serif;
    color: var(--main-black, #050C33);
}

h2{
    font-weight: 700;
    font-size: 42px;
}

.black-title{
    color: var(--main-black, #050C33);
}

.white-title{
    color: var(--White, #FFF);
}

.support-title{
    text-align: center;
    margin-bottom: 56px;
}

.support-col{
    margin-bottom: 5px;
}

.support-block{
    border-radius: 5px;
    background: var(--White, #ffffff);
    box-shadow: 20px 20px 40px rgba(5, 12, 51, .05);
    min-height: 292px;
    height: 100%;
    position: relative;
    margin: 0 -8px;
}

.support-block-wrapper{
    padding-top: 27px;
    padding-left: 25px;
    padding-right: 30px;
    padding-bottom: 42px;
}

.support-block-num
{
    font-weight: 700;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.support-block-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 12px;
    line-height: 1.22;
}

.support-text{
    font-size: 16px;
    opacity: 0.7;
    font-weight: 500;
    line-height: 22px;
    position: relative;
    z-index: 3;
}

.support-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.expertise{
    z-index: -1;
    position: relative;
    padding: 380px 0 150px;
    background: linear-gradient(254.72deg, rgba(255, 255, 255, .276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
}

.support-element {
    margin-bottom: -212px;
}

.expertise:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/images/drupal-logo-2.svg) no-repeat right bottom;
    background-size: contain;
    z-index: 10;
}

.expertise-title{
    font-size: 42px;
    font-weight: 700;
}

.expertise-text{
    font-weight: 500;
    line-height: 22px; 
    font-size: 16px;
    opacity: 0.7;
}

.expertise-block{

}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}