._13-years-blok {
    padding-top: 80px;
    position: relative;
    background-color: #FFF;
    top: 40px;
    margin-top: 100px;
    z-index: 10;
}

._13-years-name {
    font-size: 42px;
    font-weight: bold;
    margin: 0 0 20px;
}

.competencies-13-years-name {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
}

.competency-wrapper {
    padding-top: 50px;
}

.competency-header {
    position: relative;
}

.competency-icon {
    position: relative;
    margin-bottom: 30px;
    z-index: 2;
}

.background-icon {
    position: absolute;
    width: 115px;
    height: 70px;
    z-index: 1;
    left: -55px;
    bottom: -7px;
}

.competency-body {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #282e4c;
}

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width:768px) {
    ._13-years-name {
        font-size: 25px;
    }

    .competencies-13-years-name {
        font-size: 14px;
    }

    .competency-body {
        font-size: 14px;
    }

    .background-icon {
        left: 0px;
        bottom: 0px;
    }

    .competency-icon {
        display: flex;
        justify-content: center;
    }
}

@media (max-width:1200px) {
    ._13-years-name {
        font-size: 36px;
    }
}