.comments{
    margin-top: 90px;
    margin-bottom: 160px;
    background: url(../../public/Images/right-quote-sign.svg) no-repeat left top;
    background-size: 26%;
}

.comments-title{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
}

.comment-card{
    position: relative;
    margin: 0 50px;
    margin-top: 120px;
}

.comment-card-wrapper{
    position: relative;
    padding: 67px 15px 67px 68px;
    z-index: 6;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 4px 60px 0px rgba(161, 161, 161, 0.25);
}

.comment-card-content{
    min-width: 0;
    padding: 0 60px;
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
}

.comment-logo{
    margin-top: 13px;
    margin-bottom: 40px;
}

.comment-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.comment-info{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 22px;
}

.comment-navigation{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-navigation-wrapper{
    display: flex;
    margin: auto;
    flex-direction: row;
}

.comment-num-text{
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    padding: 0 46px;
}

.sum-num{
    color: var(--Gray-5, #E0E0E0);
}