/* FAQ*/

.block-name-faq {
    text-align: center;
    color: #000;
    font-size: 42px;
    font-weight: 700;
    padding-bottom: 82px;
}

/* Стили для аккордеона */
.question-item {
    padding: 10px 12px 10px 30px;
    counter-increment: question-title;
}

.question-header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.question-title {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.question-toggle {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.question-content {
    display: none;
    padding: 15px;
}

.question-content p,
.question-ul {
    font-size: 16px;
    color: #4e5a73;
    line-height: 1.4;
    margin-bottom: 0;
}


.question-item.activeAnswer .question-content{
    display: block;
}

.question-item.active-border {
    border: 3px solid #f14d34;
    transition: border 0.1s;
}

.question-content { 
    max-height: 0; 
    overflow: hidden; 
    opacity: 0; 
}

.question-content ul {
    margin-bottom: 0rem;
}

.question-title::before {
    content: counter(question-title) ".";
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
    font-weight: bold;
    font-size: 13px;
    color: #828a9b;
}

.block-faq {
    margin-bottom: 40px;
}

.open { 
    max-height: 2000px; 
    opacity: 1; 
    transition: max-height 0.2s ease-in-out, opacity 1s ease-in-out;  
}